# Ignore local development environment.
/.ddev/
/.idea/

# Ignore Composer dependencies.
/vendor/
/web/core/

# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings*.php
/web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
/web/sites/*/files/
/web/sites/*/private/

# Ignore contributed code.
/web/themes/contrib/
/web/modules/contrib/
/web/profiles/contrib/

# Ignore testing files.
/web/phpunit.xml
/web/sites/simpletest/
